* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Beiruti";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(./assets/fonts/Beiruti-VariableFont_wght.ttf) format(truetype);
}

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf) format(truetype);
}

:root {
  --font-family-heading: "Beiruti", sans-serif;
  --font-family-body: "Inter", sans-serif;

  --light-primary: rgba(127, 151, 108, 1);
  --light-primary-opacity25: rgba(127, 151, 108, 0.25);
  --light-secondary: rgba(233, 113, 43, 1);
  --text-light: rgba(249, 249, 246, 1);
  --text-dark: rgba(30, 38, 28, 1);
}

body {
  h1,
  h2 {
    font-family: var(--font-family-heading);
  }

  font-family: var(--font-family-body);
  font-size: 16px;
  line-height: 1.7;
  margin: 0;

  a {
    text-decoration: none;
  }
}
