.recipe-search {
  display: grid;

  form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 1px solid red;

    > fieldset {
      border: 1px solid green;

      /* legend {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      } */
    }
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blueviolet;
  }
}
