.login_container {
  max-width: 400px;
  margin: 40px auto;
  padding: 40px 30px;
  background-color: #7f976c;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(127, 151, 108, 0.25);
  color: #fff;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 1.8rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 20px;
      padding: 12px 15px;
      border-radius: 6px;
      border: none;
      font-size: 1rem;
      outline: none;
      transition: box-shadow 0.3s ease;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    button {
      margin-top: 20px;
      padding: 14px 0;
      border: none;
      border-radius: 6px;
      background-color: white;
      color: #7f976c;
      font-weight: 700;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 20px;

      input {
        padding: 12px 15px;
        border-radius: 6px;
        height: 20px;
        width: 20px;
        accent-color: #7f976c;
        margin-top: 0;
        padding: 0;
      }
    }
    .autocomplete {
      margin-top: 20px;
      background-color: white;
      border-radius: 6px;

      .MuiFormControl-root {
        margin: 0;
      }

      .MuiAutocomplete-clearIndicator {
        padding: 0;
        margin: 0;
      }

      .MuiInputBase-root {
        margin: 0;
        padding: 0;
        height: auto;
      }

      .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
        border-color: transparent;
      }

      input {
        margin: 0;
        padding: 12px 12px;
        height: auto;
        box-sizing: border-box;

        &::placeholder {
          color: #757575;
          opacity: 1;
        }
      }

      .MuiAutocomplete-popupIndicator {
        margin: 0;
        padding: 0;
        top: 0;
        transform: translateY(0);
        align-self: center;
        height: 100%;
      }
    }
  }

  .error {
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
