.recipe-card-mini {
  height: 230px;
  width: 230px;
  transition: 0.150s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--text-light);
  border-radius: 12px;
  background-color: var(--text-light);
  overflow: hidden;

  img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }
}
