#root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar content";
  height: 100vh;

  .layout-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100vh;

    header {
      grid-area: header;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }
  }
}
