.global-layout {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;

  .sidebar {
    grid-area: 1 / 1 / 4 / 2;
  }
  .header {
    grid-area: 1 / 2 / 2 / 3;
  }
  main {
    overflow-y: auto;
    height: calc(100dvh - 60px - 60px);
    grid-area: 2 / 2 / 3 / 3;
    padding: 16px;
    background-image: url("/public/icones-logo/bcg-opacity.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (max-width: 768px) {
  .global-layout {
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
    height: auto;

    .sidebar,
    .footer,
    .header {
      display: none;
    }

    main {
      height: initial;
      padding: 8px;
      margin-bottom: 70px;
    }
  }
}
