.products {
  text-align: center;

  h2 {
    font-size: 1.8rem;
    color: var(--light-primary);
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--light-secondary);
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
  }
  p {
    margin: 15px;
  }
}

@media screen and (min-width: 600px) {
  .products {
    ul {
      gap: 2rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .products {
    ul {
      gap: 3rem;
    }
  }
}
